body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

.rest {
    margin-top: 20px;
}

.name-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.name-container ul {
    list-style-type: none;
    padding: 10;
    margin: 0;
}

.name-container li {
    margin-right: 10px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
}